body,
html {
    font-family: $default-font;
    color: $default-color;
    font-size: 16px;
}
.container {
    max-width: 1260px;
    padding: 0 15px;
    margin: 0 auto;
}
.button {
    display: block;
    text-align: center;
    background: $accent;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #ffffff;
    padding: 19px 20px;
    border-radius: 5px;
    width: 100%;
}
.heading {
    font-weight: 900;
    font-size: 30px;
    line-height: 45px;
}
.header__top--mobile {
    display: none;
}
.burger-inner {
    transition: all 0.3s;
    transform: translateX(120%);
    width: 10px;
    height: 0;
}
.catalog__dots .slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
}

.catalog__dots li {
    margin-right: 12px;
}

.catalog__dots li:last-child {
    margin-right: 0;
}

.catalog__dots button {
    font-size: 0;
    line-height: 0;
    background: transparent;
    width: 15px;
    height: 15px;
    position: relative;
    transition: all 0.3s;
}

.catalog__dots button::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #E5E5E5;
    bottom: 0;
    left: 0;
}
.catalog__dots .slick-active button::before {
    background: #0088CF;
    width: 18px;
    height: 18px;
}
